body {
    background-color: gray;
    margin: 0;
    max-width: 100%;
}
#cirlces {
    max-width: 100%;
   
}
#desk {
    width: 30%;
    border-radius: 100px;
    padding: 5px 40px
}
#graphic {
    width: 30%;
    border-radius: 100px;
    padding: 5px 40px
}
#person {
    width: 30%
}